body{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Noto Kufi Arabic', sans-serif;
    background-color: #ffffff;
    background-image: url("./images/5c60fe2e575e95eb5f016ea843383c6d.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(12px);
 
    height: 3300px;
}
.header{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 100px;
}
.header h1{
border-radius: 10px;
 background-color: #e5e5e5;
 padding: 20px;
 color: #003049;
 border: none;
 box-shadow: 0 0 10px #457b9d, 0 0 20px #457b9d, 0 0 40px #1d3557, 0 0 50px #1d3557, 0 0 100px #ff00de, 0 0 120px #457b9d, 0 0 140px #457b9d;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
.main p{
    width: 800px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    border-left:4px solid #003049;
    border-right:4px solid #003049;
    border-radius: 10px;
    color: #000;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.all-d a{
color: red;
margin-right: 100px;
text-decoration: none;
background-color: #003049;
padding: 13px 35px;
border-radius: 10px;
font-size: 22px;
font-weight: bold;
color: white;

}
.all-d i{
    
    
}
.all-w i{
    color: #000;
    font-size: 25px;
}
.all-w a{
color: #000;
margin-left: 100px;
text-decoration: none;
background-color: #4ab96b;
padding: 13px 35px;
border-radius: 10px;
font-size: 22px;
font-weight: bold;
color: #003049;
}
.all-d:hover{
transform: scale(1.1);
transition: 0.7s all ease;

}
.all-w:hover{
    transform: scale(1.1);
    transition: 0.7s all ease;
     
    }


.img1 img{
    width: 500px;
    height: 600px;
    
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(18, 131, 169) inset;
    margin: 20px;
    
} 
.img1{
    display: flex;
    justify-content: center;
   
}
.all-img{
     margin-top: 100px;
}
.all-img h1{
text-align: center;
}
.all-img h1{
color: #000;
margin-top: 20px;

}


/* media */
@media(max-width:375px){
    .img1 img{
        width: 170px;
        height: 170px;
        margin: 0;
    }
    .img1{
        display: block;
        justify-content: center;
        position: relative;
        left: 15px;
       
    }
    .all-d a{
        color: red;
        margin-right: 10px;
        text-decoration: none;
        background-color: #003049;
        padding: 5px 15px;
        border-radius: 10px;
        font-size: 22px;
        font-weight: bold;
        color: white;
        
        }
        .all-w a{
            padding: 5px 15px;
            margin-right: 10px;
        }
        .all-img h1{
            background-color: white;
            border-radius: 10px;
        }
        body{
            height: 1500px; 
        }
}

@media (min-width:375px) and (max-width:414px){
    .img1 img{
        display: block;
        width: 300px;
        height: 270px;
        margin: 0;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
    }
    .img1{
        display: block;
        justify-content: center;
        position: relative;
        left: 15px;
       
    }
    .all-d a{
        color: red;
        margin-right: 10px;
        text-decoration: none;
        background-color: #003049;
        padding: 10px 15px;
        border-radius: 10px;
        font-size: 22px;
        font-weight: bold;
        color: white;
        
        }
        .all-w a{
            padding: 10px 15px;
            margin-right: 10px;
        }
        .all-img h1{
            background-color: white;
            border-radius: 10px;
            text-align: center;
            width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
        body{
            height: 100%; 
        }
        .header h1{
            font-size: 25px;
            margin-left: auto;
            margin-right: auto;
        }
       
}


@media (min-width:280px) and (max-width:400px){
    .img1 img{
        width: 300px;
        height: 270px;
        margin: 0;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .all-img h1{
        background-color: white;
        border-radius: 10px;
        text-align: center;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .img1{
        display: block;
        justify-content: center;
        position: relative;
        left: 0px;
       
    }
    .all-d a{
        color: red;
        margin-right: 5px;
        text-decoration: none;
        background-color: #003049;
        padding: 5px 5px;
        border-radius: 10px;
        font-size: 19px;
        font-weight: bold;
        color: white;
        
        }
        .all-w a{
            padding: 5px 5px;
            margin-right: 5px;
            font-size: 19px;
        }
        

        .header h1{
            font-size: 25px;
            margin-left: auto;
            margin-right: auto;
        }
        body{
            height: 100%; 
        }
}



@media (min-width:300px) and (max-width:374px){
    .img1 img{
        width: 135px;
        height: 170px;
        margin: 0;
        margin-top: 10px;
        margin-left: 10px;
    }
    .img1{
        display: block;
        justify-content: center;
        position: relative;
        left: 0px;
       
    }
    .all-d a{
        color: red;
        margin-right: 5px;
        text-decoration: none;
        background-color: #003049;
        padding: 5px 5px;
        border-radius: 10px;
        font-size: 19px;
        font-weight: bold;
        color: white;
        
        }
        .all-w a{
            padding: 5px 5px;
            margin-right: 5px;
            font-size: 19px;
        }
        .all-img h1{
            background-color: white;
            border-radius: 10px;
        }

        .header h1{
            border-radius: 10px;
             background-color: #e5e5e5;
             padding: 10px;
             font-size: 25px;
        }
        body{
            height: 1700px; 
        }
}